#Configure the database connection for a PostgreSQL database and redis!

HOST=localhost
USER=gorm
PASSWORD=admin
DATABASE=dialosoft
PORT=5434
PORT_DOCKER=5432
SSLMODE=false
JWTKEY="tu_clave_secreta_aqui"
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_DB=0